.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
    transition: visibility 0.2s, opacity 0.2s ease-in;
    z-index: 5;
}
.popup_opened {
    display: flex;
    opacity: 1;
    visibility: visible;

}