.popap__container_submit-button {
    min-width: 358px;
    height: 50px;
    background-color: #000;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popap__container_submit-button:hover {
    opacity: 0.8;
}
@media screen and (max-width: 1279px) {
    .popap__container_submit-button {
        min-width: 238px;
        height: 46px;
    }
}