.form__input-error {
    max-width: 358px;
    color: #F00;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-top: -25px;
    margin-bottom: 13px;
    display: none;
}
.form__input-error_active {
    display: block;
}
@media screen and (max-width: 1279px) {
    .form__input-error {
        max-width: 238px;
    }
}