.form {
    display: flex;
    flex-direction: column;
}
.popup__container_form {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 358px;
    padding: 0;
    padding-bottom: 13px;
    margin-bottom: 30px;
    color: #000;
}
.popup__container_form:last-child {
    margin-bottom: 48px;
}
.popup__container_form::-webkit-input-placeholder {
    color: #C4C4C4;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}
.popup__container_form::-moz-placeholder {
    color: #C4C4C4;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}
.popup__container_form::-ms-input-placeholder {
    color: #C4C4C4;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}
@media screen and (max-width: 1279px) {
    .popup__container_form {
        max-width: 238px;
    }
}