.footer__text {
    color: #545454;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
@media screen and (max-width: 1279px) {
    .footer__text {
        font-size: 14px;
    }
}