.popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close-Icon.svg);
    background-size: 32px, cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: -38px;
    right: -40px;
    border: none;
    padding: 0;
    transition: 0.2s;
    cursor: pointer;
} 
.popup__close:hover {
    opacity: 0.6;
}
@media screen and (max-width: 1279px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0px;
    }
}