.popup__container_submit-button {
    width: 358px;
    height: 50px;
    background-color: #000;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 37px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
    color: #FFF;
    text-align: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.popup__container_submit-button:hover {
    opacity: 0.8;
}
@media screen and (max-width: 1279px) {
    .popup__container_submit-button {
        width: 238px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
    }
}