.popap__container_form {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 358px;
    padding: 0;
    padding-bottom: 13px;
}
.popap__container_form::-webkit-input-placeholder {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.popap__container_form::-moz-placeholder {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.popap__container_form::-ms-input-placeholder {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width: 1279px) {
    .popap__container_form {
        max-width: 238px;
    }
}