@import url(../vendor/normalize.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info/_title/profile__info_title.css);
@import url(../blocks/profile/__info/_subtitle/profile__info_subtitle.css);
@import url(../blocks/profile/__info/_edit-button/profile__info_edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__delete-button/element__delete-button.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__panel/element__panel.css);
@import url(../blocks/element/__panel/_title/element__panel_title.css);
@import url(../blocks/element/__panel/_heart/element__panel_heart.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_title/popup__container_title.css);
@import url(../blocks/popup/__container/_form/popup__container_form.css);
@import url(../blocks/popup/__container/_submit-button/popup__container_submit-button.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/picture/picture.css);
@import url(../blocks/picture/picture-container/picture-container.css);
@import url(../blocks/picture/picture-container/__image/picture-container__image.css);
@import url(../blocks/picture/picture-container/__text/picture-container__text.css);