.element__delete-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete.svg);
    background-size: 18px, cover;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    z-index: 1;
    transition: 0.2s;
    cursor: pointer;
}
.element__delete-button:hover {
    opacity: 0.6;
}
.element__delete-button_invalid {
    display: none;
}